.footer__menu-link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

@media (max-width: 425px) {
  .footer__menu-link {
    font-size: 24px;
    line-height: 2;
  }
}
