.header__lang-link {
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.75;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

@media (max-width:767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
