.place__title {
  margin: 0;
  max-width: 460px;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  padding-bottom: 48px;
}

@media (max-width: 900px) {
  .place__title {
    line-height: 46px;
    font-size: 42px;
  }
}

@media (max-width: 600px) {
  .place__title {
    line-height: 35px;
    font-size: 32px;
    padding-bottom: 32px;
    margin: 0 16px;
  }
}
