.lead {
  margin: 0 auto;
  max-width: 984px;
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    margin: 0 48px;
  } 
}