.lead {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    margin: 0 48px;
  }
}

