.cover__subtitle {
  margin: 0;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 425px) {
  .cover__subtitle {
    max-width: 266px;
    font-size: 14px;
    line-height: 16px;
  }
}
