.header {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .header {
    margin: 0 48px;
  }
}

 @media (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media (max-width: 425px) {
  .header {
    margin: 0 16px;
    padding-top: 16px;
  }
}
