.place__paragraph {
  margin: 0;
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}

@media (max-width: 425px) {
  .place__paragraph {
    margin: 0 16px;
  }
}