.intro__text {
  margin: 0;
  max-width: 690px;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  padding-bottom: 27px;
}

@media (max-width: 1279px) {
  .intro__text {
    padding-bottom: 33px;
  }
}