.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media (max-width: 1279px) {
  .intro {
    padding-top: 88px;
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 0 24px;
  }
}

@media (max-width: 552px) {
  .intro {
    padding-top: 64px;
    margin: 0 16px;
  }
}

