.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 96px 0;
}

@media (max-width: 1024px) {
  .intro {
    margin: 0 48px;
    padding: 90px 0;
  }
}

@media (max-width: 900px) {
  .intro {
    padding: 88px 0;
    margin: 0 24px;
  }
}

@media (max-width: 600px) {
  .intro {
    padding: 60px 0;
    margin: 0 16px;
  }
}
