.places-info {
  margin: 0 auto;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .places-info {
    margin: 0 48px;
  }
}

@media (max-width: 900px) {
  .places-info {
    margin: 0 24px;
  }
}

@media (max-width: 600px) {
  .places-info {
    margin: 0;
  }
}
