.cover {
  margin: 0 auto;
  margin-top: 12px;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    margin: 0;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}
