.footer {
  margin: 92px auto 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1215px) {
  .footer {
    margin: 92px 48px 24px;
  }
}

@media (max-width: 900px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media (max-width: 700px) {
  .footer {
    display: block;
    margin: 64px 16px 24px;
    max-width: 195px;
  }
}
